[submodule "jcore"]
	path = lib/jcore
	url = https://github.com/sPyOpenSource/jcore.git
[submodule "micropython"]
	path = lib/micropython
	url = https://github.com/micropython/micropython.git
[submodule "m1n1"]
	path = 12-m1n1
	url = https://github.com/AsahiLinux/m1n1.git
